@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* Focus ring for checkboxes */
input[type="checkbox"] {
  accent-color: #2EAC8A;
}

input[type="checkbox"]:focus {
  outline: 2px solid #2EAC8A;
  outline-offset: 2px;
}
